@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #553e7c;
  --color-primary-hover: #3f2d5f;
  --color-secondary: #e9a900;
  --color-secondary-hover: #E9A145;
  --color-background: #fafaff;
  --color-background-secondary: #E8EF88;
  --color-success: #b8e9b8;
  --color-error: #4f0403;
  --color-text: #000000;
  --color-text-secondary: #ffffff;
}

body {
  font-family: "Sora", sans-serif;
  background-color: var(--color-background);
  width: 100vw;
}
